            <DOCTYPE html>
                <div class="row clearfix">
                    <form method="post" action="{% url 'add_receptionist_url'%}">
                     {% csrf_token %}

                     <div class="card  ">
                        <div class="header bg-primary">
                            <h2>Basic Information <small></small> </h2>                            
                        </div>
                        <div class="body">
                            <div class="row clearfix">

                                <div class="col-sm-4">
                                    <div class="form-group">
                                        {{form.errors}}
                                        <label class="ml-2">First Name</label>
                                        {{form.firstname}}
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        {{form.errors}}
                                        <label class="ml-2">Middle Name</label>
                                        {{form.middlename}}
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        {{form.errors}}
                                        <label>Last Name</label>
                                        {{form.lastname}}
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        {{form.errors}}
                                        <label>Age</label>
                                        {{form.age}}
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        {{form.errors}}
                                        <label class="ml-2">Sex</label>
                                        {{form.sex}}
                                
                                    </div>
                                </div>
                                {% block Speciality%}
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="ml-2">Speciality</label>
                                        <select class="form-control show-tick">

                                            <option value="10">Dermatology</option>
                                            <option value="20">Neurology</option>
                                            <option value="30">Dentist</option>
                                            <option value="40">Internal Medicine</option>
                                            <option value="50">Pathology</option>
                                            <option value="60">Obstetrics and Gynecology</option>
                                            <option value="70">Ophthamology</option>
                                            <option value="20">Surgery</option>
                                        </select>
                                    </div>
                                </div>
                                {% endblock %}

                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="ml-2">Phone</label>
                                        {{form.phone}}
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="ml-2">Email</label>
                                        {{form.email}}
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="ml-2">Department</label>
                                        <select class="form-control show-tick">

                                            <option value="10">In-Patient</option>
                                            <option value="20">Out-Patient</option>
                                            <option value="30">Emergency</option>

                                        </select>
                                    </div>
                                </div>
                            </div>
                            <br>
                        </div>
                    <div class="card">
                        <div class="header bg-success">
                            <h2>Address Information  </h2>                            
                        </div>
                        <div class="body">
                            <div class="row">
                  
                <div class="col-sm-4">
                  <!-- text input -->
                  <div class="form-group">
                    <label>Region</label>
                    {{form.errors}}
                    {{form.region}}
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    {{form.errors}}       
                    <label>Zone</label>
                    {{form.zone}}
                  </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                      {{form.errors}}
                      <label>Woreda/Subcity</label>
                      {{form.woreda}}
                    </div>
                  </div>
              </div>
              
              <div class="row">
                <div class="col-sm-4">
                  <!-- text input -->
                  <div class="form-group">
                    {{form.errors}}
                    <label>Kebele</label>
                    {{form.kebele}}
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Gott</label>
                    <input type="text" name="gott" class="form-control" placeholder="Enter ...">
                  </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        {{form.errors}}
                      <label>House No</label>
                      {{form.house_no}}
                    </div>
                  </div>
              </div>
              </div>
              <div class="form-group col-md-4">
                <input type="submit" class="btn btn-success" >
                <button type="submit" class="btn btn-outline-secondary">Cancel</button>
                </div>
               
         <!-- /.card -->
      </div>
                            <br>
                        </div>
                        


                    </form>
                </div>
            </div>



